:root {
  --container-gutter-sm: 40px;
  --container-gutter: 60px;
  --root-border-color: 227, 227, 227;
  --primary-purple: #7275d2;
  --light-purple: #babbf8;
}

::placeholder {
  color: #7275d2;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #7275d2;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #7275d2;
}

html {
 scroll-behavior: smooth;
}

h3, h4 {
  margin: 0px;
}

input, button {
  font-family: 'Prompt';
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.icon {
  vertical-align: middle;
  pointer-events: none;
  margin-right: 14px;
}

.Shop-area {
  display: flex;
  width: 100%;
  margin-top: calc(1rem);
}

.Count-down {
  display: flex;
  background-color: var(--light-purple);
  color: white;
  justify-content: center;
  padding: 10px var(--container-gutter-sm);
  margin-top: calc(70px);
  font-size: 18px;
}

.Navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 3;
  justify-content: center;
  padding: 10px var(--container-gutter);
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  
}

.Nav-link {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #7275d2;
}

.Search-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: 350px;
}

.Search-bar {
  font-size: 14px;
  height: 15px;
  width: 100%;
  line-height: 24px;
  color: #696e79;
  padding: 10px 20px;
  outline: 0;
  border: 1px solid #bfc0e5;
  border-radius: 4px;
  transition: border .2s ease-out;
}

.Search-bar:focus {
  border: 2px solid #a3a5ee;
}

.Search-bar::placeholder {
  font-family: 'Prompt';
}

.Nav-cart {
  cursor: pointer;
}

.Cart-label {
  width: 10px;
  height: 10px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin-left: 5px;
  padding: 8px;
  border-radius: 50%;
  font-size: 12px;
  background-color: #7275d2;
  color: white;
}

.Cart-preview-container {
  visibility: hidden;
}

.Cart-preview-container[open] {
  visibility: visible;
}

.Cart-preview {
 height: 100vh;
 top: 0;
 background-color: white;
 position: absolute;
 right: 0;
 z-index: 10;
 width: 45vw;
 border: 1px solid rgb(var(--root-border-color));
 transition: transform 0.6s cubic-bezier(0.75, 0, 0.175, 1), visibility 0.6s cubic-bezier(0.75, 0, 0.175, 1);
 transform: translateX(100%);
}

.Cart-preview-container[open] > .Cart-preview {
  transform: translateX(0);
}

.Cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255);
  transition: visibility 0.6s ease-in-out, opacity 0.6s ease-in-out;
  visibility: hidden;
  opacity:  0;
  cursor: pointer;
}

.Cart-preview-container[open] > .Cart-overlay {
  transform: translateX(0);
  visibility: visible;
  opacity: .6;
}

.Cart-header {
  display: flex;
  align-items: center;
  height: 70px;
  font-family: 'Dela Gothic One';
  font-size: 16px;
  font-weight: 500;
  word-spacing: 5px;
  border-bottom: 1px solid rgb(var(--root-border-color));
}

.Cart-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cart-items-container {
  padding: .5rem;
  border-bottom: 1px solid rgb(var(--root-border-color));
  height: 70%;
  overflow-y: scroll;
}

.Cart-item {
  display: flex;
  padding: 20px var(--container-gutter-sm);
}

.Cart-item-name {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.Counter-container {
  padding: 0 1rem;
}

.Counter {
  border: 1px solid rgb(var(--root-border-color));
  border-radius: 1rem;
}

.Counter > input {
  line-height: 20px;
  border: none;
  text-align: center;
  color: var(--primary-purple);
}

.Counter > button {
  height: 28px;
  background-color: white;
  color: var(--primary-purple);
  border: none;
  border-radius: 1rem;
  padding: 0px 0.7rem;
  font-size: 18px;
}

.Checkout-CTA {
  margin-top: 1rem;
  width: 80%;
  padding-left: calc(.5rem + 40px);
}

.Checkout-btn {
  padding: .5rem 1rem;
  width: 80%;
  background-color: var(--primary-purple);
  border-radius: 1rem;
  border: none;
  color: white;
  word-spacing: 10px;
  font-size: 16px;
}

#Filters-container {
  min-width: 20%;
  min-height: 350px;
}

#Product-grid {
  min-width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2em;
  /* max-height: 100vh;
  overflow-y: scroll; */
}

@media (max-width: 1200px) {
  .Product-grid { grid-template-columns: repeat(4, 1fr); }
}

@media (max-width: 900px) {
  .Product-grid { grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 600px) {
  .Product-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 400px) {
  .Product-grid { grid-template-columns: repeat(1, 1fr); }
}

/* remove once grid comes in */
.Item-container {
  width: 250px;
}

.Item-image {
  position: relative;
  padding-bottom: 1rem;
  overflow: hidden;

}

.Item-image-actual {
  height: 230px;
  object-fit: contain;
}

.Item-ratings {
  position: absolute;
  bottom: 10px;
  padding: 4px 6px 4px 10px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255, 0.8);
}

.overlay {
 display: none;
 position: absolute;
 top: 0;
 height: 100%;
 width: 100%;
 background-color: rgba(255,255,255,.8);
}

.Item-image:hover .overlay{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Item-meta-details {
  padding: 0 10px;
}

.Item-price-details {
  padding-top: 10px;
}


/* Common Styles */
.orange-text {
  color: orange;
}
.text-muted {
  color: #717482;
  font-weight: 400;
}

.m-0 {
  margin: 0px;
}
.pb-5 {
  padding-bottom: 5px;
}

.f-small {
  font-size: 12px;
}
.f-medium {
  font-size: 14px;
}
.f-normal {
  font-size: 16px;
}

.Micro-add-to-cart {
  background-color: #7275d2;
  color: white;
  padding: 10px;
  border-radius: 1rem;
  border: none;
  width: 60%;
}

.Micro-add-to-cart:hover {
  background-color: #4b4fc4;
}
